NEXT_PUBLIC_APP_NAME=ScanContact BD
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_DEFAULT_LANGUAGE=en
NEXT_PUBLIC_SUPPORT_PHONE=+8801000000000
NEXT_PUBLIC_SUPPORT_EMAIL=support@example.com
