NEXT_PUBLIC_APP_NAME=ScanContact BD
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=/api
NEXT_PUBLIC_DEFAULT_LANGUAGE=en
NEXT_PUBLIC_SUPPORT_PHONE=+8801000000000
NEXT_PUBLIC_SUPPORT_EMAIL=support@example.com
NEXT_ALLOWED_DEV_ORIGINS=http://192.168.0.100:3000
NEXT_PUBLIC_DEV_ADMIN_EMAIL=
